#ASUM-DM

 Es un enfoque para la preparación y organización de datos que se enfoca en 5 etapas fundamentales:

Análisis, selección, unificación, muestreo y depuración.

Este proceso es útil para mejorar la calidad de los datos antes de usarlos en modelos de análisis y aprendizaje automático

Contesto el problema:
análisis de clientes para estrategias de marketing personalizada una empresa de servicios financieros quiere lanzar una campaña de marketing personalizada para sus clientes de varias ciudades.
 La idea es identificar perfiles de clientes en función de características como edad, ingresos y categoría de cliente para definir estrategias.

El equipo de marketing ha solicitado los analistas de datos e identificar:

segmentos de clientes:
agrupar a los clientes en función de su categoría, ingresos, edad y ciudad.

Tendencias de ingresos:
 analizar la distribución de los ingresos mensuales y detectar patrones en diferentes ciudades y edades.

Clientes potenciales:
identificar clientes con altos ingresos y en categoría de alto valor(“A”) para campañas específicas.

Sin embargo, el conjunto de datos tiene varios problemas qué dificultan el análisis directo, cómo duplicados, valores atípicos y errores tipográficos.

Antes de aplicar modelos de segmentación y análisis de tendencias, es necesario limpiar y organizar la información

# 1 Análisis de los datos (A):

Objetivo:

 examinar la calidad y característica de los datos.

 Acciones:
  revisar el conjunto de datos para identificar valores faltantes,  datos inconsistentes, duplicados, errores tipográficos y valores atípicos.

Este paso permite entender el tipo de problema que podrían afectar el análisis y decidir cómo resolverlos.

In [1]:
#importar librerias necesarias
import pandas as pd

In [ ]:
#leer el archivo csv en un DataFrame
df = pd.read_csv("clientes_con_errores.csv")
#contar cantidad de registros
df.count()

In [ ]:
#mostrar primeras filas del dataframe
print("======================Vista inicial del DataFrame===========================")
display(df.head()) #es como un print pero exclusivo para estos tipos de libros

In [ ]:
# 1. verificar valores nulos
print("\n Valores nulos por columnas:")
df.isnull().sum()

In [ ]:
# Identificar edades inconsistentes 
# consideremos que las edades válidas estan entre 18 y 90
edades_inconsistentes = df[(df["Edad"]<18)|(df['Edad']>90)|(df['Edad'].isnull())]
print(edades_inconsistentes)

In [ ]:
# 3 identificar inconsistencias en los nombres de ciudad
# ver una lista única de las ciudades ingresadas para detectar variaciones 
ciudade_unicas= df['Ciudad'].dropna().unique() #.unique identifica los nombres unicos y drop borra las repetidas
print("Ciudades unicas")
print(ciudade_unicas)

Ciudades unicas
['Ciudad_B' 'Ciudad123' 'ciudad_a' 'Ciudad_A' 'Ciudad-C']

# 2 Selección  de los datos (S):

Objetivo: Elegir las variables y los registros más relevantes para el análisis.

Acciones: Determinar qué columna (atributos) y filas (registros) son útiles para el objetivo del análisis.

Eliminar variables redundantes, irrelevantes o registros que no aportan valor lo cual ayuda a mejorar la eficiencia del procesamiento.

Filtrado de flilas(registros):
Eliminar registros que tengan:
Edades fuera del rango razonable (18 a 90).
ingresos no númericos o valores negativos.
categorías de clientes a "A", "B", "C"

"A" cliente de alto valor

"B" cliente de valor medio

"C" cliente de bajo valor

In [ ]:
#Filtro de los datos
# 1 seleccion de columnas utiles
# 2 filtrado de valores inconsistentes
# 3 filtrar edades en eun rango de 18 a 90 años
df_filtrado = df[(df['Edad']>= 18) & (df['Edad']<=90)]
df_filtrado

In [ ]:
#Filtro de ingresos validos (quitar ingresos no numericos y valores negativos)
df_filtrado['Ingreso_mensual'] = pd.to_numeric(df_filtrado["Ingreso_mensual"], 
errors="coerce")
df_filtrado = df_filtrado[df_filtrado['Ingreso_mensual']>0]
df_filtrado

In [ ]:
#camBiar categorias a por A, b po B y c por C
df_filtrado["Categoría"]=df_filtrado["Categoría"].replace('a','A')
df_filtrado["Categoría"]=df_filtrado["Categoría"].replace('c','C')
df_filtrado["Categoría"]=df_filtrado["Categoría"].replace('b','B')
df_filtrado

In [ ]:
# filtrar categoria validas
categorias_validas=['A','B','C']
df_filtrado=df_filtrado[df_filtrado["Categoría"].isin(categorias_validas)]#isin indica que ejecute mientras sean iguales a lo que haya dentro de ()
df_filtrado

In [ ]:
# ver ID_cliente duplicados 
duplicados = df[df.duplicated(subset=["ID_cliente"],keep=False)]['ID_cliente'].unique()
duplicados #ver en original porqeu con lo anterior habiamos quitado los duplicados

In [ ]:
#en caso de haber duplicados en el que estamos trabajando 
df_filtrado = df_filtrado.drop_duplicates(subset=["ID_cliente"])
df_filtrado

In [ ]:
# contar los valores duplicados en la columna 'ID_cliente'
duplicados_counts= df["ID_cliente"].value_counts()
#Mostrar solo lo sque tienen mas de una aparicion en el csv
duplicados_counts = duplicados_counts[duplicados_counts>1]
print(duplicados_counts)

90

In [34]:
#cantidad de registros y columnas tras la limpieza
print("Cantidad de registros y columnas tras la limpieza")
print(df_filtrado.shape)
print(df.shape)

Cantidad de registros y columnas tras la limpieza
(25, 6)
(501, 6)

# 3 Unificación y normalización de valores(U)

Estandarizar los nombre de ciudades para tener consistencia en los datos y facilitar el análisis posterir.
pasos:
Normalización de los nombres de ciudades: Convertir todos los nombres a un formato consistente ,eliminar errores tipográficos y variaciones en mayúsculas/minúsculas también corregiremos cualquier variación que deba agruparse
Ejemplos:
"Ciudad_A" y "ciudad_a deben ser iguales

In [38]:
df_filtrado["Ciudad"]=df_filtrado["Ciudad"].str.lower().str.strip()
df_filtrado

    ID_cliente  Edad  Ingreso_mensual Categoría     Ciudad    País
20      ID_021  29.0          3584.98         C   ciudad_a     NaN
42      ID_043  89.0         16732.84         B  ciudad123     NaN
51      ID_052  54.0         13878.16         B   ciudad_a     NaN
57      ID_116  78.0          5799.32         A  ciudad123     NaN
76      ID_077  26.0          6953.78         B  ciudad123     NaN
106     ID_107  24.0          3797.23         C   ciudad_b  Pais_X
125     ID_126  56.0          5685.07         B  ciudad123     NaN
138     ID_139  57.0          1861.35         A        NaN  Pais_X
153     ID_154  31.0         14234.22         B  ciudad123  Pais_X
154     ID_155  51.0          1749.90         C        NaN     NaN
155     ID_156  74.0         17520.34         B   ciudad_b  Pais_X
187     ID_188  44.0          4102.98         A        NaN     NaN
202     ID_203  58.0          4608.30         C        NaN  Pais_Y
230     ID_246  70.0         11927.53         A   ciudad_a     NaN
249     ID_250  45.0         12777.62         A  ciudad123     NaN
272     ID_273  36.0          5662.07         A   ciudad_a     NaN
307     ID_308  19.0          5097.94         B   ciudad_a  Pais_Y
314     ID_315  27.0          3884.64         B   ciudad_a  Pais_X
316     ID_317  27.0         17858.67         B   ciudad_a  Pais_X
325     ID_326  39.0          8570.03         B   ciudad_b     NaN
328     ID_329  22.0          6965.55         A        NaN     NaN
331     ID_332  37.0          2903.06         B   ciudad_a  Pais_X
343     ID_344  18.0          1930.35         B   ciudad-c     NaN
345     ID_346  88.0         17694.74         B   ciudad_b  Pais_X
393     ID_394  58.0          7439.77         A  ciudad123     NaN

# 4 Muestreo representativo(M):

Si es necesario, crear un subconjunto de dotos representativos para pruebas iniciales de segmentación
pasos:

Definir el tamaño de la Muestra:

Asegurar representatividad en categorías clave:

Revisar y validar la muestra:

# 5 Depuración final (D):

# 6 con los datos organizados y depurados:

Aplicar técnicas de segmentación de clientes para identificar distintos perfiles dentro del conjunto de datos.